/* ShowTodos.css */




.todo-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: fit-content;
    border-bottom: 1px solid #ccc;
    background-color: #f4f4f4; 
    border-radius: 8px; 
}

.todo-list li .todo-text {
    font-family: 'Comic Sans MS', cursive; /* Igrački font */
    font-size: 1.2rem;
    color: #333; /* Tamna boja teksta */
}



.todo-list li button:hover {
    color: #FF6347; /* Promjena boje na hover */
}



.removeTodoButton{
    position: fixed;
    bottom: 230px;
    left: 46%;
    
    box-sizing: border-box;
    padding: none;
    background: none;
    border: 2px solid white;
    border-radius:  1rem ;
    cursor: pointer;
    color: #FF4500; /* Narandžasta boja za gumb */
    font-size: 4rem;
    transition: all 300ms;
}
.removeTodoButton:hover{
    scale: 1.1;
    background-color: #FF4500;
    color: white;
}

.finishUnfinishTodoButton{
    position: fixed;
    top: 360px;
    left: 46%;
    
    box-sizing: border-box;
    padding: none;
    background: none;
    border: 2px solid white;
    border-radius:  1rem ;
    cursor: pointer;
    color: #14be39; /* Narandžasta boja za gumb */
    font-size: 4rem;
    transition: all 300ms;
}
.finishUnfinishTodoButton:hover{
    scale: 1.1;
    background-color: #14be39;
    color: white;
}

.todo-list {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 350px;
    left:100px;
}

.obavljen{
    position: fixed;
    left: 65%;
}



.todo-list ul {
    list-style-type: none;
    padding: 0;
}

.todo-list ul li {
    margin-bottom: 10px;
}
